<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITraderService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4321/MT5SignalReceiver/Service/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITraderService"
                contract="ServiceReference.ITraderService" name="BasicHttpBinding_ITraderService" />
        </client>
    </system.serviceModel>
</configuration>